
      html, body{
        font-family: "Arial light";
      }

      p {
        color: black;
        font-family: "Arial light";
      }

      h1 {
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        font-family: "Arial light";
      }

      h2 {
        color: black;
        font-family: "Arial light";
      }

      body {
        background-color: #ffc0cb;
      }

      .purple-text {
        color: rgb(0, 0, 255);
      }

      .important:hover {
        font-weight: bold;
      }

      .important {
        background-color: yellow;
      }

      p.important {
        width: 75%;
      }

      #leadparagraph {
        color: blue;
        font-weight: bold;
      }

      a[href="...."] {
        background-color: yellow;
        padding: 1rem;
      }

      a[href="...."] {
        background-color: yellow;
        padding: 1rem;
      }

      img {
        border-style: solid;
        border-width: 3px;
        border-color: lightgreen;
        width: 50%;
      }

      footer {
          height: 20px;
          background-color: lightpink;
      }
